.container{
margin-left: 50px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.search-result {
  height : 50vh;
  
}

.search-result h5 {
  color: black;
  font-weight: bolder;
}

.card-columns {
  column-count: 4;
}
.card {
 
  border: 2px solid darkgray;
}
.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}
.card-body {
  padding: 8px;
}


.card-title, .card-text {
  color: black;
}

.card-title {
  font-size: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media only screen and (max-width: 800px) {
  .card-columns {
      column-count: 2; 
       margin-top: 0px;
       
      }
    }
    
    @media only screen and (max-width: 600px) {
      .card-columns {
        column-count: 1;
        margin-top: 0px;
  }
}

